[Unit]
Description=leprop Service for LE property service
Before=persist-prop.service
Requires=persist-prop.service
DefaultDependencies=no

[Service]
User=leprop
Group=leprop
Restart=always
NoNewPrivileges=true
ExecStartPre=+/bin/mkdir -p -m 777 /dev/socket
ExecStart=/usr/sbin/leprop-service

[Install]
WantedBy=sysinit.target
